# Ignore typical temporary and system files
.DS_Store
__pycache__/

# Ignore Python virtual environments
myenv
venv

# Ignore data files
data/*/*
logs/*/*
/dvclive
/models
/temp
/exp-logs/*

# Not ignore
!logs/*/.gitkeep
!*.dvc

# Ignore personal notes
NOTES.md

# Ignore singularity image
ml-pipeline-image_latest.sif
